In [2]:
print("Find the largest of three numbers")

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

largest = num1

if num2 > largest:
    largest = num2
if num3 > largest:
    largest = num3

print("The largest number is:", largest)

Find the largest of three numbers
Enter first number: 100
Enter second number: 1000
Enter third number: 20
The largest number is: 1000

In [3]:
year = int(input("Enter a year: "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year: 2024
Leap Year

In [4]:
letter = input("Enter a letter: ").strip().lower()

vowels = ['a','e','i','o','u']

if len(letter) == 1 and letter.isalpha():
    if letter in vowels:
        print("It is a vowel")
    else:
        print("It is a consonant")
else:
    print("Invalid input")

Enter a letter: a
It is a vowel

In [5]:
number = int(input("Enter a number: "))

if number % 55 == 0:
    print("Divisible by both 5 and 11")
else:
    print("Not divisible by both")

Enter a number: 65
Not divisible by both

In [6]:
num = int(input("Enter a number: "))
count = 1

print("Multiplication Table:\n")

while count <= 10:
    result = num * count
    print(f"{num} x {count} = {result}")
    count += 1

Enter a number: 55
Multiplication Table:

55 x 1 = 55
55 x 2 = 110
55 x 3 = 165
55 x 4 = 220
55 x 5 = 275
55 x 6 = 330
55 x 7 = 385
55 x 8 = 440
55 x 9 = 495
55 x 10 = 550

In [7]:
n = int(input("Enter value of N: "))

total = 0
i = 1

while i <= n:
    total += i
    i += 1

print("Sum =", total)

Enter value of N: 22
Sum = 253

In [8]:
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

Enter number of rows: 12
           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *
    * * * * * * * *
   * * * * * * * * *
  * * * * * * * * * *
 * * * * * * * * * * *
* * * * * * * * * * * *

In [9]:
rows = int(input("Enter number of rows: "))

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

Enter number of rows: 2
1
1 2