In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import zipfile

zip_path = "/content/archive (2).zip"

with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall("/content/data")

In [7]:
import os
os.listdir("/content/data")

['Toys Gifting Store.csv',
 'All Appliances.csv',
 'Refrigerators.csv',
 'Exam Central.csv',
 'Kids Shoes.csv',
 'Wallets.csv',
 'Football.csv',
 'School Bags.csv',
 'Camping and Hiking.csv',
 'Badminton.csv',
 'Yoga.csv',
 'Baby Products.csv',
 'Lab and Scientific.csv',
 'Ballerinas.csv',
 'Fashion Sales and Deals.csv',
 'Gaming Consoles.csv',
 'PC Games.csv',
 'STEM Toys Store.csv',
 'International Toy Store.csv',
 'Luxury Beauty.csv',
 'Rucksacks.csv',
 'All Pet Supplies.csv',
 'T-shirts and Polos.csv',
 'Cycling.csv',
 'Strollers and Prams.csv',
 'Entertainment Collectibles.csv',
 'Mens Fashion.csv',
 'Test Measure and Inspect.csv',
 'Headphones.csv',
 'Bags and Luggage.csv',
 'Amazon-Products.csv',
 'Musical Instruments and Professional Audio.csv',
 'Blu-ray.csv',
 'Kitchen and Dining.csv',
 'Jeans.csv',
 'Clothing.csv',
 'Running.csv',
 'Suitcases and Trolley Bags.csv',
 'Car Electronics.csv',
 'Womens Fashion.csv',
 'Cameras.csv',
 'All Electronics.csv',
 'All English.csv',
 'Handbags and Clutches.csv',
 'All Sports Fitness and Outdoors.csv',
 'Kitchen Storage and Containers.csv',
 'All Exercise and Fitness.csv',
 'Cricket.csv',
 'Household Supplies.csv',
 'Pantry.csv',
 'Washing Machines.csv',
 'Lingerie and Nightwear.csv',
 'Fiction Books.csv',
 'Snack Foods.csv',
 'Sports Collectibles.csv',
 'Garden and Outdoors.csv',
 'Fitness Accessories.csv',
 'Industrial and Scientific Supplies.csv',
 'Kids Clothing.csv',
 'Gaming Accessories.csv',
 'Fashion and Silver Jewellery.csv',
 'Indian Classical.csv',
 'Video Games Deals.csv',
 'Formal Shoes.csv',
 'Textbooks.csv',
 'Shirts.csv',
 'Home Improvement.csv',
 'Home Furnishing.csv',
 'Innerwear.csv',
 'Motorbike Accessories and Parts.csv',
 'All Movies and TV Shows.csv',
 'Watches.csv',
 'The Designer Boutique.csv',
 'Refurbished and Open Box.csv',
 'Heating and Cooling Appliances.csv',
 'Strength Training.csv',
 'Speakers.csv',
 'Camera Accessories.csv',
 'Kitchen and Home Appliances.csv',
 'Sports Shoes.csv',
 'All Video Games.csv',
 'Home Dcor.csv',
 'Shoes.csv',
 'Casual Shoes.csv',
 'Travel Duffles.csv',
 'Cardio Equipment.csv',
 'Baby Fashion.csv',
 'Make-up.csv',
 'All Home and Kitchen.csv',
 'Car and Bike Care.csv',
 'Value Bazaar.csv',
 'Amazon Pharmacy.csv',
 'All Grocery and Gourmet Foods.csv',
 'Fashion Sandals.csv',
 'Jewellery.csv',
 'Air Conditioners.csv',
 'Personal Care Appliances.csv',
 'Kids Watches.csv',
 'Furniture.csv',
 'Backpacks.csv',
 'Televisions.csv',
 'Home Storage.csv',
 'Sunglasses.csv',
 'Sewing and Craft Supplies.csv',
 'Childrens Books.csv',
 'Travel Accessories.csv',
 'Indian Language Books.csv',
 'Western Wear.csv',
 'Bedroom Linen.csv',
 'All Music.csv',
 'Home Entertainment Systems.csv',
 'Health and Personal Care.csv',
 'All Car and Motorbike Products.csv',
 'School Textbooks.csv',
 'Dog supplies.csv',
 'Ethnic Wear.csv',
 'Kids Fashion.csv',
 'Indoor Lighting.csv',
 'Toys and Games.csv',
 'Car Accessories.csv',
 'Gold and Diamond Jewellery.csv',
 'Film Songs.csv',
 'Sportswear.csv',
 'Diapers.csv',
 'International Music.csv',
 'All Hindi.csv',
 'Beauty and Grooming.csv',
 'Fine Art.csv',
 'Security Cameras.csv',
 'Janitorial and Sanitation Supplies.csv',
 'Baby Bath Skin and Grooming.csv',
 'All Books.csv',
 'Subscribe and Save.csv',
 'Coffee Tea and Beverages.csv',
 'Amazon Fashion.csv',
 'Nursing and Feeding.csv',
 'Diet and Nutrition.csv',
 'Kindle eBooks.csv',
 'Home Audio and Theater.csv',
 'Car Parts.csv']

In [9]:
import pandas as pd

df = pd.read_csv("/content/data/Amazon-Products.csv")
df.head()

,Unnamed: 0,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [29]:
df.columns = df.columns.str.strip().str.lower()
print(df.columns)

Index(['unnamed: 0', 'name', 'main_category', 'sub_category', 'image', 'link',
       'ratings', 'no_of_ratings', 'discount_price', 'actual_price'],
      dtype='object')

In [30]:
df = df.drop(columns=["unnamed: 0"])

In [31]:
print("Missing Values:\n")
print(df.isnull().sum())

Missing Values:

name                   0
main_category          0
sub_category           0
image                  0
link                   0
ratings                0
no_of_ratings     175794
discount_price     61163
actual_price           0
dtype: int64

In [36]:
df["name"] = df["name"].fillna("Unknown Product")
df["main_category"] = df["main_category"].fillna("Unknown")
df["sub_category"] = df["sub_category"].fillna("Unknown")

In [38]:
# remove ₹ and commas
df["discount_price"] = df["discount_price"].replace('[₹,]', '', regex=True)
df["actual_price"] = df["actual_price"].replace('[₹,]', '', regex=True)

# convert to numeric
df["discount_price"] = pd.to_numeric(df["discount_price"], errors='coerce')
df["actual_price"] = pd.to_numeric(df["actual_price"], errors='coerce')

# fill missing values safely
df["discount_price"] = df["discount_price"].fillna(df["discount_price"].median())
df["actual_price"] = df["actual_price"].fillna(df["actual_price"].median())

In [39]:
df["ratings"] = df["ratings"].fillna(df["ratings"].mean())
df["no_of_ratings"] = df["no_of_ratings"].fillna(0)

In [40]:
df = df.drop_duplicates()

In [41]:
df["discount_percent"] = ((df["actual_price"] - df["discount_price"])
                          / df["actual_price"]) * 100

In [42]:
print(df["main_category"].value_counts().head())

main_category
accessories            116141
men's clothing          76656
women's clothing        76512
tv, audio & cameras     68659
men's shoes             57456
Name: count, dtype: int64

In [43]:
print(df.sort_values(by="actual_price", ascending=False)[["name","actual_price"]].head())

                                                     name  actual_price
194625  Marutivilla Insect Killer, Mosquito Killer Lig...  9.900000e+09
402750  Clovia Women's Activewear Ankle Length Printed...  6.108299e+07
498818  Samsung 214 cm (85 inches) 8K Ultra HD Smart N...  1.594900e+06
311949  USPTO डायमंड वन स्टोन D Colour Genuine 3 Carat...  1.200000e+06
390351  USPTO डायमंड वन स्टोन D Colour Genuine 3 Carat...  1.200000e+06

In [44]:
print(df.sort_values(by="ratings", ascending=False)[["name","ratings"]].head())

                                                     name  ratings
551556  ManHood Men's Synthetic Lycra Regular Fit Stre...      5.0
140031  Lycra Fishcut Saree Shapewear Petticoat for Wo...      5.0
140036  Fashion & Heritage Women's Handmade Uttarakhan...      5.0
75894   7 Ft Tripod | tripod for phone, Tripod Stand f...      5.0
75889   ShopsYes Charging & Data USB Cable for Lenovo ...      5.0

In [45]:
print("\nCleaned Dataset Info:\n")
print(df.info())

print("\nRemaining Missing Values:\n")
print(df.isnull().sum())

Cleaned Dataset Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551585 entries, 0 to 551584
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              551585 non-null  object
 1   main_category     551585 non-null  object
 2   sub_category      551585 non-null  object
 3   image             551585 non-null  object
 4   link              551585 non-null  object
 5   ratings           551585 non-null  float64
 6   no_of_ratings     551585 non-null  object
 7   discount_price    551585 non-null  float64
 8   actual_price      551585 non-null  float64
 9   discount_percent  551585 non-null  float64
dtypes: float64(4), object(6)
memory usage: 42.1+ MB
None

Remaining Missing Values:

name                0
main_category       0
sub_category        0
image               0
link                0
ratings             0
no_of_ratings       0
discount_price      0
actual_price        0
discount_percent    0
dtype: int64

In [8]:
import pandas as pd

df = pd.read_csv("/Amazon-Products.csv")
print("Loaded")

Loaded

In [10]:
small_df = df.sample(5000, random_state=42)

small_df.to_csv("AMAZON_SALES_SMALL.csv", index=False)

print("Small dataset saved ✅")

Small dataset saved ✅